.petrol-color{
    color:#BE2807 !important;
}
.online-color{
    color: #09A118 !important;
}
.offline-color{
    color: #B4B4B4 !important;
}
.alarm-color{
    color: #F88E2A !important;
}
.temp-bgcolor{
    background-color: #5B40C5 !important;
}