body{
    background-color:#F5F5F5;;
}
#efficiency{
    font-family: 'Roboto', sans-serif;
}
.icon-color{
    color:#343A40 !important;
}

.see-details:hover{
    color: #ED1C24 !important;
}
/* Map */
.full-screen{
    cursor: pointer !important;
    background-color: #F5F5F5 !important;
}
.user-no{
    color: #868E96 !important;
    font-size: 13px !important;
}

/* Media screens */
@media screen and (min-width:768px) {
    .details-div{
        position: relative;
    }
    .see-details{
        position: absolute;
        right:10px;
        top:-33px
    }
}
